<h2>Order</h2>

<app-navbar></app-navbar>
<div *ngFor="let book of books">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{book.Title}}</h5>
          <p class="card-text">ISBN: {{book.ISBN}}</p>
          <p class="card-text">Year: {{book.Year}}</p>
          <p class="card-text">Price: {{book.Price}}</p>
          
        </div>
      </div>
    </div>

    <br>
    <br>
<h4>Total price : {{totalprice}}</h4>
<button  class="btn btn-warning btn-block">Make Payment</button>
