<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h2>Register</h2>
            
            <hr>
            <form #registerForm="ngForm" (submit)="OnFormSubmit()">
                <div class="form-group">
                    <label for="">Create UserId</label>
                    <input  #userid="ngModel" type="text" name="userid" class="form-control" [(ngModel)]="userModel.UserId" required [class.is-invalid]="userid.touched && userid.invalid">
                    <small *ngIf="userid.touched && userid.invalid">This is required and should be an integer.</small>
                </div>
                <div class="form-group">
                    <label for="">Create Password</label>
                    <input #password="ngModel" type="password" name="password" class="form-control" [(ngModel)]="userModel.Password">
                </div>
                <div class="form-group">
                    <label for="">Enter Email Address</label>
                    <input #name="ngModel" type="text" name="name" class="form-control" [(ngModel)]="userModel.Name">
                </div>
                <div class="form-group">
                    <label for="">Enter Address</label>
                    <input #address="ngModel" type="text" name="address" class="form-control" [(ngModel)]="userModel.Address">
                </div>
                <input type="submit" value="Register" class="btn-primary">
                <p class="text-center">
                    <a href="" >Already registered?Click here</a>
                </p>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
